@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body {
    background-color: #f5f5dc;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.cont2 {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.spisok {
    color: #021;
    font-weight: 800;
    font-size: 40px;
}
.forma {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
}
.inputtext {
    padding: 10px;
    border: 0;
    width: 310px;
    height: 42px;
}
.buttons {
    background-color: gray;
    padding: 10px 20px;
    border: 0;
    width: 160px;

}
.buttonsdel {
    background-color: brown;
    padding: 10px 20px;
    border: 0;
    width: 160px;
}
.tasks {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 300px;
    width: 500px;
   
    
}
.buttontasks {
    background-color: transparent;
    border: none;
    font-size: 30px;
    
    
   
    
    
}
.tasks2 {
    background-color: gray;
    font-size: 20px;
    padding: 20px 20px;
    border: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    

}
.tasks2:hover {
    background-color: rgb(95, 82, 82);
}
.tasks2 input {
    margin-right: 10px;
    background-color: transparent;
}
.label1 {
    display: flex;
    align-items: center;
}
.footer {
    padding-top: 10px;
    border-top: 1px solid #000;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}